/**  IMPORTS **/
@import "variables.scss";
@import "reset.scss";

/** VERSION: PC **/

#pc-wrap {
    width: 100;
    height: 100;
    .container {
        position: relative;
        width: 1300px;
        margin: 0 auto;
        display:  flex;
    }
    #footer {
        .footer-container {
            height: 150px;
            background: #181a20;
            color: white;
            text-align: center;
            justify-content: center;
        }
    }
}

